#Home:link, #Home:visited {
  background-color: #ffd448;
  color: black;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* margin-bottom: 1%; */
  font-size: 15pt;
}

#Home:hover, #Home:active {
  background-color: #ffcc00;
}

.HomeButton {
  text-align: left;
  background-image: url("../images/home-button-background.jpg");
  padding: 5px 15px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}


/* <div class="HomeButton">
  <a href="../../../index.html" id="Home">Home</a>
  <hr>
</div> */